.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    width: 1300px;
    height: 120px;
    // border: 1px solid;

    &__logo {
        width: 100px;
        height: 78px;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center; 
        gap: 30px;      
        padding: 0px 50px;
    }

    &__link  {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        transition: all 1s ease;
    }

    &__link:hover {
        color: red; 
    }

    &__link:active {
        color: orange; 
    }

    &_burger {
        display: none;
        flex-direction: column;
        gap: 4px;
    }

    &_burger_item {
        width: 30px;
        height: 3px; 
        background-color: black;
        border-radius: 10px;
    }

    &_icons_texts {
        display: flex;
        justify-content: space-between;
        gap: 200px;
        
    }

    &_icon_and_text {
        display: flex;
        gap: 8px;
    }

    &_icon {
        width: 25px;
        height: 25px;
        color: #FFFFFF;
    }

    &_text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #B6B6B6;
    }
}